body{
	cursor: default;
	background-color: #ECF0F5;
}

.sin-padding{
	padding: 0px;
}

.no-select {
  -webkit-user-select: none;   
}

.breadcrumb-botones{
	padding: 0px 15px !important;
}

#table{
    width: 100%;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
	font-family: FontAwesome;
}

table.dataTable thead th.sorting:after{
	content: none;
}

table.dataTable thead th.sorting_asc:after {
	content: "\f0d8";
}

table.dataTable thead th.sorting_desc:after {
	content: "\f0d7";
}

table.dataTable {
	margin-top: -1px !important;
	margin-bottom: -1px !important;
}

table.dataTable thead > tr > th {
	padding-right: 8px;
	text-align: center !important;
}

table.dataTable tr {
	text-align: center !important;
	white-space: nowrap;
	cursor: pointer;
}
 /*
table.dataTable tr:hover {
	background-color: #DEDEDE !important;
}
*/

.column-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left !important;
}

tr.selected{
	background-color: #ADD8E6 !important;
	border: none; /* no funciona */
}

.hide-btns{
	display: none;
}

.dataTables_empty{
	cursor: default;
}

.progress {
	position: relative;
	overflow: hidden;
	margin: 0px !important;	
	box-shadow: inset 0px 0px 1px gray;
    margin: auto;
}

.progress .p-black {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0px;
}

.progress .progress-bar {
	position: absolute;
	overflow: hidden;
}
.progress-bar {
	float: left;
	width: 0%;
	color: #ffffff;
	text-align: center;
}

.progress .p-white {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.ft-cell {
	padding-right: 18px;
}

.db-download:hover {
	background-color: #E1E1E1;
}

.db-download {
	padding: 5px;
}

.db-download i {
	padding-left: 4px;
	color: #B3B3B3;
}

.main-footer {
	position: fixed;
	padding: 10px 15px;
	bottom: 0px;
    left: 0px;
    right: 0px;
}

@media (max-width: 991px){	

	.content-header>.breadcrumb {
		background: none;
		text-align: center;
	}
	
	.main-footer {
		width: 100%;
	}

	.main-footer .progress {
		display: none;
	}

	.box {
		overflow: auto;
	}
}