body {
	cursor: default;
	background-color: #ECF0F5;
}

.sin-padding {
	padding: 0px;
}

.no-select {
  -webkit-user-select: none;   
}

.breadcrumb-botones {
	padding: 0px 15px !important;
}

.empty-box {
	font-size: 1.2em;
	font-style: italic;
	padding-top: 10%;
}

.channel-box:hover{
	cursor: pointer;
	box-shadow: 0px 0px 2px #3c8dbc;
}

.info-box-number {
	// display: block;
	font-weight: bold;
	font-size: 37px;
	position: absolute;
	bottom: 6px;
	right: 20px;
	color: rgba(23, 23, 23, 0.04);
	text-transform: uppercase;
}

.info-box-text {
    text-transform: uppercase;
    font-size: initial;
}

.btn-alert {
	margin-top: 10px;
}

.btn-wrapper {
	text-align: right;
}

.modal-body-settings {
	.nav-tabs-custom {
		margin-bottom: 10px;
		background: #f6f6f6;
		box-shadow: none;
		border-radius: 3px;
	}
}

.nav-tabs-custom > .nav-tabs {
	border-bottom-color: #ddd;
	padding-left: 10px;
}

.btn {
	height: 34px;
}

.btn-group {
	padding: 0px 3px;
}

.alert {
	.btn-wrapper a {
		padding: 20px;
		padding-right: 0px;
		text-decoration: none;
		font-weight: bold;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

#channels-installed {
	.empty-box {	
		padding-top: 0px;
	}
}

#table {
	width: 100%;
}

table.dataTable {
	margin-top: -1px !important;
	margin-bottom: -1px !important;

	tr {
		text-align: center !important;
		white-space: nowrap;
		cursor: pointer;
	}

	thead > tr > th {
		padding-right: 8px;
		text-align: center !important;
	}

	thead {
		th.sorting:after	  { content: none;	}
		th.sorting_asc:after  { content: "\f0d8"; }
		th.sorting_desc:after { content: "\f0d7"; }

		th.sorting:after,
		th.sorting_asc:after,
		th.sorting_desc:after {	font-family: FontAwesome; }
	}
}

.column-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left !important;
}

tr.selected {
	background-color: #ADD8E6 !important;
	border: none; /* no funciona */
}

.content-wrapper-stats,
.content-wrapper-autofeeds,
.content-wrapper-channels,
.content-wrapper-settings,
.hide-btns {
	display: none;
}

.dataTables_empty {
	cursor: default;
}

.progress {
	position: relative;
	overflow: hidden;
	margin: 0px !important;	
	box-shadow: inset 0px 0px 1px gray;
	margin: auto;
	
	.p-black {
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0px;
	}

	.progress-bar {
		position: absolute;
		overflow: hidden;
	}
}

.progress-bar {
	float: left;
	width: 0%;
	color: #ffffff;
	text-align: center;
}

.progress {
	.p-white {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 14px;
	}
}

.ft-cell {
	padding-right: 18px;
}

.db-download {
	padding: 5px;
	
	i {
		padding-left: 4px;
		color: #B3B3B3;
	}
	
	&:hover { background-color: #E1E1E1; }
}

.main-footer {
	position: fixed;
	padding: 10px 15px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.sidebar-footer {
	bottom: 0px;
	clear: both;
	display: block;
	padding: 1px 0 0 0;
	position: fixed;
	width: 230px;
	background: #1E272B;
	
	a {
		padding: 11px 0 5px;
		text-align: center;
		width: 25%;
		font-size: 17px;
		display: block;
		float: left;
		background: #28343A;
		cursor: pointer;
		
		&:hover {
			background: #222D32;
		}
	}
}

.navbar-static-top {
	font-size: 17px;
}

@media (max-width: 991px) {	

	.content-header > .breadcrumb {
		background: none;
		text-align: center;
	}
	
	.main-footer {
		width: 100%;
		
		.progress {
			display: none;
		}
	}

	.box {
		overflow: auto;
	}
}

@media (min-width: 768px) {	
	.navbar-nav > li > a {
		padding-top: 16px;
		padding-bottom: 12px;
	}

	.main-header .sidebar-toggle {
		padding: 13px 15px;
	}
}